#  Pandas Time series

In [1]:
from datetime import datetime

In [2]:
datetime.now()

datetime.datetime(2017, 4, 12, 20, 31, 2, 767491)

In [3]:
datetime(year=2015, month=7, day=4)

datetime.datetime(2015, 7, 4, 0, 0)

In [4]:
# Convert string into datetime object
from dateutil import parser
date = parser.parse("5th of November,2017")

In [5]:
date

datetime.datetime(2017, 11, 5, 0, 0)

In [6]:
# Finding weekday information
date.strftime('%A')

'Sunday'

In [7]:
date.strftime('%Y')

'2017'

In [8]:
date.strftime('%m')

'11'

In [9]:
import numpy as np

In [10]:
date = np.array('2015-07-24',dtype=np.datetime64)

In [11]:
date

array(datetime.date(2015, 7, 24), dtype='datetime64[D]')

In [12]:
d = date + np.arange(10)

In [13]:
d

array(['2015-07-24', '2015-07-25', '2015-07-26', '2015-07-27',
       '2015-07-28', '2015-07-29', '2015-07-30', '2015-07-31',
       '2015-08-01', '2015-08-02'], dtype='datetime64[D]')

In [14]:
s = d[6]

In [15]:
s

numpy.datetime64('2015-07-30')

In [16]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

Code Meaning Y Year
M Month
W Week
D Day
h Hour
m Minute
s Second
ms Millisecond
us Microsecond
ns Nanosecond
ps Picosecond
fs Femtosecond
as Attosecond

# Pandas - Date & Times

In [18]:

## Code Meaning 

# Y Year
# M Month
# W Week
# D Day
# h Hour
# m Minute
# s Second
# ms Millisecond
# us Microsecond
# ns Nanosecond
# ps Picosecond
# fs Femtosecond
# as Attosecond

import pandas as pd

In [19]:
# Convert string into timestamp object

date = pd.to_datetime('5th of July 2019')

In [20]:
date

Timestamp('2019-07-05 00:00:00')

In [21]:
date + pd.to_timedelta(np.arange(12),'M')  ## 12 months

DatetimeIndex(['2019-07-05 00:00:00', '2019-08-04 10:29:06',
               '2019-09-03 20:58:12', '2019-10-04 07:27:18',
               '2019-11-03 17:56:24', '2019-12-04 04:25:30',
               '2020-01-03 14:54:36', '2020-02-03 01:23:42',
               '2020-03-04 11:52:48', '2020-04-03 22:21:54',
               '2020-05-04 08:51:00', '2020-06-03 19:20:06'],
              dtype='datetime64[ns]', freq=None)

In [22]:
pd.to_timedelta(np.arange(12),'Y')  ## 12 years

TimedeltaIndex([   '0 days 00:00:00',  '365 days 05:49:12',
                 '730 days 11:38:24', '1095 days 17:27:36',
                '1460 days 23:16:48', '1826 days 05:06:00',
                '2191 days 10:55:12', '2556 days 16:44:24',
                '2921 days 22:33:36', '3287 days 04:22:48',
                '3652 days 10:12:00', '4017 days 16:01:12'],
               dtype='timedelta64[ns]', freq=None)

# Pandas Time Series : Indexing by Time

#### The purpose here is to use datetime as index column and not a regular column
#### Before using datetime as index, convert date column as index

In [23]:
index = pd.DatetimeIndex(['2017-07-04','2017-08-4','2017-09-04','2017-10-04'])

In [24]:
data = pd.Series([0,1,2,3], index=index)

In [25]:
data.head()

2017-07-04    0
2017-08-04    1
2017-09-04    2
2017-10-04    3
dtype: int64

In [26]:
data['2017-07-04 ':'2017-09-04']

2017-07-04    0
2017-08-04    1
2017-09-04    2
dtype: int64

In [27]:
index = pd.DatetimeIndex(['2017-07-04','2018-08-4','2017-09-04','2018-10-04'])
data = pd.Series([0,1,2,3], index=index)

In [28]:
data

2017-07-04    0
2018-08-04    1
2017-09-04    2
2018-10-04    3
dtype: int64

In [29]:
data['2017']

2017-07-04    0
2017-09-04    2
dtype: int64

In [30]:
data['2018']

2018-08-04    1
2018-10-04    3
dtype: int64

In [31]:
pd.date_range('2017-02-26', '2017-03-02')

DatetimeIndex(['2017-02-26', '2017-02-27', '2017-02-28', '2017-03-01',
               '2017-03-02'],
              dtype='datetime64[ns]', freq='D')

In [32]:
pd.date_range('2017',periods=10,freq='A')  ## A - Annualy , periods = 10 means 10 iterations

DatetimeIndex(['2017-12-31', '2018-12-31', '2019-12-31', '2020-12-31',
               '2021-12-31', '2022-12-31', '2023-12-31', '2024-12-31',
               '2025-12-31', '2026-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [33]:
pd.period_range('2018-05',periods=8, freq='M')

PeriodIndex(['2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10',
             '2018-11', '2018-12'],
            dtype='period[M]', freq='M')

In [34]:
pd.timedelta_range(0, periods=10, freq='H')

TimedeltaIndex(['00:00:00', '01:00:00', '02:00:00', '03:00:00', '04:00:00',
                '05:00:00', '06:00:00', '07:00:00', '08:00:00', '09:00:00'],
               dtype='timedelta64[ns]', freq='H')

In [35]:
date = pd.to_datetime("5th of July 2019")

In [36]:
pd.date_range('2017-07-03',periods=10,freq='5A')

DatetimeIndex(['2017-12-31', '2022-12-31', '2027-12-31', '2032-12-31',
               '2037-12-31', '2042-12-31', '2047-12-31', '2052-12-31',
               '2057-12-31', '2062-12-31'],
              dtype='datetime64[ns]', freq='5A-DEC')

In [37]:
pd.timedelta_range(0,periods=9, freq="2H30T")

TimedeltaIndex(['00:00:00', '02:30:00', '05:00:00', '07:30:00', '10:00:00',
                '12:30:00', '15:00:00', '17:30:00', '20:00:00'],
               dtype='timedelta64[ns]', freq='150T')

# Code Description 

### D Calendar day 
### B Business day 
### W Weekly
### M Month end 
### BM Business month end 
### Q Quarter end 
### BQ Business quarter end 
### A Year end 
### BA Business year end 
### H Hours 
### BH Business hours 
### T Minutes
### S Seconds
### L Milliseonds
### U Microseconds
### N nanoseconds

In [39]:
from pandas_datareader import data
#It will not be present by default, needs seperate installation

In [40]:
goog = data.DataReader('GOOG', start='2004', end='2016',
                       data_source='google')

# Returns a panda object
# Imports google stock price from 2004 to 2016

In [41]:
goog

## Getting the data from storage with date as index

              Open    High     Low   Close     Volume
Date
2004-08-19   49.96   51.98   47.93   50.12        NaN
2004-08-20   50.69   54.49   50.20   54.10        NaN
2004-08-23   55.32   56.68   54.47   54.65        NaN
2004-08-24   55.56   55.74   51.73   52.38        NaN
2004-08-25   52.43   53.95   51.89   52.95        NaN
2004-08-26   52.42   53.92   52.28   53.90        NaN
2004-08-27   54.00   54.26   52.79   53.02        NaN
2004-08-30   52.69   52.69   50.95   50.95        NaN
2004-08-31   51.11   51.80   51.03   51.13        NaN
2004-09-01   51.30   51.43   49.79   50.07        NaN
2004-09-02   49.50   51.13   49.42   50.70        NaN
2004-09-03   50.42   50.82   49.61   49.95        NaN
2004-09-07   50.45   50.95   49.76   50.74        NaN
2004-09-08   50.32   51.46   50.20   51.10        NaN
2004-09-09   51.20   51.30   50.45   51.10        NaN
2004-09-10   50.75   53.23   50.60   52.61        NaN
2004-09-13   53.26   54.15   53.18   53.70        NaN
2004-09-14   53.67   55.94   53.34   55.69        NaN
2004-09-15   55.22   57.06   55.04   55.94        NaN
2004-09-16   56.11   57.84   55.77   56.93        NaN
2004-09-17   57.15   58.69   56.72   58.69        NaN
2004-09-20   58.42   60.74   58.33   59.62        NaN
2004-09-21   60.04   60.15   58.70   58.86        NaN
2004-09-22   58.67   59.78   58.35   59.13        NaN
2004-09-23   59.36   61.25   58.45   60.35        NaN
2004-09-24   60.42   61.99   59.82   59.86        NaN
2004-09-27   59.72   60.38   58.84   59.07        NaN
2004-09-28   60.51   63.64   60.04   63.37        NaN
2004-09-29   63.20   67.44   63.05   65.47        NaN
2004-09-30   64.88   66.08   64.44   64.74        NaN
...            ...     ...     ...     ...        ...
2015-11-18  727.58  741.41  727.00  740.00  1671588.0
2015-11-19  738.74  742.00  737.43  738.41  1327109.0
2015-11-20  746.53  757.92  743.00  756.60  2212302.0
2015-11-23  757.45  762.71  751.82  755.98  1414487.0
2015-11-24  752.00  755.28  737.63  748.28  2333130.0
2015-11-25  748.14  752.00  746.06  748.15  1122224.0
2015-11-27  748.46  753.41  747.49  750.26   838518.0
2015-11-30  748.81  754.93  741.27  742.60  2035261.0
2015-12-01  747.11  768.95  746.70  767.04  2129940.0
2015-12-02  768.90  775.96  758.96  762.38  2195686.0
2015-12-03  766.01  769.00  745.63  752.54  2590641.0
2015-12-04  753.10  768.49  750.00  766.81  2757283.0
2015-12-07  767.77  768.73  755.09  763.25  1812314.0
2015-12-08  757.89  764.80  754.20  762.37  1829475.0
2015-12-09  759.17  764.23  737.00  751.61  2699990.0
2015-12-10  752.85  755.85  743.83  749.46  1988380.0
2015-12-11  741.16  745.71  736.75  738.87  2224410.0
2015-12-14  741.79  748.73  724.17  747.77  2412497.0
2015-12-15  753.00  758.08  743.01  743.40  2666229.0
2015-12-16  750.00  760.59  739.44  758.09  1993251.0
2015-12-17  762.42  762.68  749.00  749.43  1553418.0
2015-12-18  746.51  754.13  738.15  739.31  3148743.0
2015-12-21  746.13  750.00  740.00  747.77  1525703.0
2015-12-22  751.65  754.85  745.53  750.00  1365520.0
2015-12-23  753.47  754.21  744.00  750.31  1566726.0
2015-12-24  749.55  751.35  746.62  748.40   527223.0
2015-12-28  752.92  762.99  749.52  762.51  1515716.0
2015-12-29  766.69  779.98  766.43  776.60  1765012.0
2015-12-30  776.60  777.60  766.90  771.00  1293521.0
2015-12-31  769.50  769.50  758.34  758.88  1500923.0

[2862 rows x 5 columns]

In [42]:
goog['2015-12-28':'2015-12-31']

              Open    High     Low   Close     Volume
Date
2015-12-28  752.92  762.99  749.52  762.51  1515716.0
2015-12-29  766.69  779.98  766.43  776.60  1765012.0
2015-12-30  776.60  777.60  766.90  771.00  1293521.0
2015-12-31  769.50  769.50  758.34  758.88  1500923.0

In [43]:
goog['Volume']

Date
2004-08-19          NaN
2004-08-20          NaN
2004-08-23          NaN
2004-08-24          NaN
2004-08-25          NaN
2004-08-26          NaN
2004-08-27          NaN
2004-08-30          NaN
2004-08-31          NaN
2004-09-01          NaN
2004-09-02          NaN
2004-09-03          NaN
2004-09-07          NaN
2004-09-08          NaN
2004-09-09          NaN
2004-09-10          NaN
2004-09-13          NaN
2004-09-14          NaN
2004-09-15          NaN
2004-09-16          NaN
2004-09-17          NaN
2004-09-20          NaN
2004-09-21          NaN
2004-09-22          NaN
2004-09-23          NaN
2004-09-24          NaN
2004-09-27          NaN
2004-09-28          NaN
2004-09-29          NaN
2004-09-30          NaN
                ...
2015-11-18    1671588.0
2015-11-19    1327109.0
2015-11-20    2212302.0
2015-11-23    1414487.0
2015-11-24    2333130.0
2015-11-25    1122224.0
2015-11-27     838518.0
2015-11-30    2035261.0
2015-12-01    2129940.0
2015-12-02    2195686.0
2015-12-03    2590641.0
2015-12-04    2757283.0
2015-12-07    1812314.0
2015-12-08    1829475.0
2015-12-09    2699990.0
2015-12-10    1988380.0
2015-12-11    2224410.0
2015-12-14    2412497.0
2015-12-15    2666229.0
2015-12-16    1993251.0
2015-12-17    1553418.0
2015-12-18    3148743.0
2015-12-21    1525703.0
2015-12-22    1365520.0
2015-12-23    1566726.0
2015-12-24     527223.0
2015-12-28    1515716.0
2015-12-29    1765012.0
2015-12-30    1293521.0
2015-12-31    1500923.0
Name: Volume, dtype: float64

In [44]:
goog['2005']

              Open    High     Low   Close  Volume
Date
2005-01-03   98.60  101.72   97.63  101.25     NaN
2005-01-04  100.56  101.36   96.64   97.15     NaN
2005-01-05   96.63   98.35   96.02   96.66     NaN
2005-01-06   97.53   97.85   93.77   94.18     NaN
2005-01-07   95.22   97.03   94.30   96.83     NaN
2005-01-10   97.15   98.95   95.82   97.43     NaN
2005-01-11   97.71   98.76   96.49   96.67     NaN
2005-01-12   97.07   97.87   95.15   97.59     NaN
2005-01-13   97.59   98.60   96.93   97.57     NaN
2005-01-14   97.90   99.90   96.97   99.89     NaN
2005-01-18  100.34  102.41   99.23  101.85     NaN
2005-01-19  102.22  102.55   98.26   98.55     NaN
2005-01-20   96.19   98.03   95.90   96.86     NaN
2005-01-21   97.12   97.58   93.97   94.05     NaN
2005-01-24   94.25   94.57   90.07   90.27     NaN
2005-01-25   91.01   91.03   88.06   88.47     NaN
2005-01-26   89.55   94.61   89.49   94.53     NaN
2005-01-27   94.29   94.34   92.51   93.95     NaN
2005-01-28   94.91   97.25   93.08   95.07     NaN
2005-01-31   96.75   98.08   95.76   97.71     NaN
2005-02-01   97.09  101.77   95.22   95.85     NaN
2005-02-02  107.67  108.29  101.73  102.88     NaN
2005-02-03  102.89  106.58  102.80  105.32     NaN
2005-02-04  103.13  103.77  101.20  102.08     NaN
2005-02-07  102.53  103.10   97.66   97.92     NaN
2005-02-08   98.38   99.91   97.17   99.22     NaN
2005-02-09  100.28  100.70   94.64   95.69     NaN
2005-02-10   95.89   96.01   92.53   93.90     NaN
2005-02-11   93.24   96.06   92.94   93.61     NaN
2005-02-14   91.33   96.44   90.41   96.40     NaN
...            ...     ...     ...     ...     ...
2005-11-17  200.70  201.70  199.57  201.52     NaN
2005-11-18  201.54  202.05  199.73  199.90     NaN
2005-11-21  199.39  204.79  196.55  204.48     NaN
2005-11-22  204.12  208.45  202.91  208.03     NaN
2005-11-23  208.31  212.15  207.68  211.22     NaN
2005-11-25  212.68  214.16  212.44  214.10     NaN
2005-11-28  214.70  215.40  211.01  211.53     NaN
2005-11-29  212.02  212.99  200.87  201.57     NaN
2005-11-30  201.93  204.02  197.58  202.25     NaN
2005-12-01  204.40  207.51  203.94  206.84     NaN
2005-12-02  208.26  209.56  206.72  208.64     NaN
2005-12-05  208.29  208.54  201.94  202.72     NaN
2005-12-06  204.15  208.00  200.65  202.07     NaN
2005-12-07  202.88  203.15  199.31  201.91     NaN
2005-12-08  202.45  205.12  201.12  205.12     NaN
2005-12-09  207.29  207.68  204.08  204.40     NaN
2005-12-12  207.11  207.40  204.77  206.10     NaN
2005-12-13  206.04  208.79  205.61  208.54     NaN
2005-12-14  208.31  209.66  207.54  209.27     NaN
2005-12-15  209.35  211.36  208.04  211.05     NaN
2005-12-16  212.46  216.03  211.16  214.86     NaN
2005-12-19  215.88  222.88  209.84  212.09     NaN
2005-12-20  213.72  215.88  212.12  214.66     NaN
2005-12-21  216.56  218.21  210.14  212.95     NaN
2005-12-22  215.67  216.21  212.75  215.80     NaN
2005-12-23  215.86  216.03  214.18  215.25     NaN
2005-12-27  215.71  215.71  211.17  212.11     NaN
2005-12-28  211.96  213.68  210.42  213.13     NaN
2005-12-29  213.78  214.15  209.38  209.86     NaN
2005-12-30  208.43  208.90  206.66  207.22     NaN

[252 rows x 5 columns]

In [45]:
data = pd.read_csv('https://data.seattle.gov/api/views/65db-xm6k/rows.csv?accessType=DOWNLOAD',index_col='Date',parse_dates=True)

In [46]:
data

,Fremont Bridge West Sidewalk,Fremont Bridge East Sidewalk
Date,,
2012-10-03 00:00:00,4.0,9.0
2012-10-03 01:00:00,4.0,6.0
2012-10-03 02:00:00,1.0,1.0
2012-10-03 03:00:00,2.0,3.0
2012-10-03 04:00:00,6.0,1.0
2012-10-03 05:00:00,21.0,10.0
2012-10-03 06:00:00,105.0,50.0
2012-10-03 07:00:00,257.0,95.0
2012-10-03 08:00:00,291.0,146.0
2012-10-03 09:00:00,172.0,104.0
2012-10-03 10:00:00,72.0,46.0
2012-10-03 11:00:00,10.0,32.0
2012-10-03 12:00:00,35.0,41.0
2012-10-03 13:00:00,42.0,48.0
2012-10-03 14:00:00,77.0,51.0
2012-10-03 15:00:00,72.0,92.0
2012-10-03 16:00:00,133.0,182.0
2012-10-03 17:00:00,192.0,391.0
2012-10-03 18:00:00,122.0,258.0
2012-10-03 19:00:00,59.0,69.0
2012-10-03 20:00:00,29.0,51.0
2012-10-03 21:00:00,25.0,38.0
2012-10-03 22:00:00,24.0,25.0
2012-10-03 23:00:00,5.0,12.0
2012-10-04 00:00:00,7.0,11.0
2012-10-04 01:00:00,3.0,0.0
2012-10-04 02:00:00,3.0,6.0
2012-10-04 03:00:00,0.0,3.0
2012-10-04 04:00:00,7.0,1.0
2012-10-04 05:00:00,15.0,11.0
...,...,...
2017-03-30 18:00:00,104.0,213.0
2017-03-30 19:00:00,50.0,125.0
2017-03-30 20:00:00,25.0,58.0
2017-03-30 21:00:00,15.0,21.0
2017-03-30 22:00:00,10.0,20.0
2017-03-30 23:00:00,11.0,5.0
2017-03-31 00:00:00,2.0,4.0
2017-03-31 01:00:00,2.0,0.0
2017-03-31 02:00:00,1.0,0.0
2017-03-31 03:00:00,1.0,0.0
2017-03-31 04:00:00,3.0,3.0
2017-03-31 05:00:00,23.0,14.0
2017-03-31 06:00:00,57.0,49.0
2017-03-31 07:00:00,163.0,99.0
2017-03-31 08:00:00,250.0,162.0
2017-03-31 09:00:00,90.0,70.0
2017-03-31 10:00:00,52.0,38.0
2017-03-31 11:00:00,39.0,31.0
2017-03-31 12:00:00,37.0,37.0
2017-03-31 13:00:00,52.0,34.0
2017-03-31 14:00:00,45.0,55.0
2017-03-31 15:00:00,74.0,87.0
2017-03-31 16:00:00,83.0,223.0
2017-03-31 17:00:00,145.0,333.0
2017-03-31 18:00:00,117.0,206.0
2017-03-31 19:00:00,50.0,84.0
2017-03-31 20:00:00,26.0,36.0
2017-03-31 21:00:00,16.0,40.0
2017-03-31 22:00:00,12.0,22.0
2017-03-31 23:00:00,5.0,15.0

In [47]:
data.columns = ['West','East']

In [48]:
data

                      West   East
Date
2012-10-03 00:00:00    4.0    9.0
2012-10-03 01:00:00    4.0    6.0
2012-10-03 02:00:00    1.0    1.0
2012-10-03 03:00:00    2.0    3.0
2012-10-03 04:00:00    6.0    1.0
2012-10-03 05:00:00   21.0   10.0
2012-10-03 06:00:00  105.0   50.0
2012-10-03 07:00:00  257.0   95.0
2012-10-03 08:00:00  291.0  146.0
2012-10-03 09:00:00  172.0  104.0
2012-10-03 10:00:00   72.0   46.0
2012-10-03 11:00:00   10.0   32.0
2012-10-03 12:00:00   35.0   41.0
2012-10-03 13:00:00   42.0   48.0
2012-10-03 14:00:00   77.0   51.0
2012-10-03 15:00:00   72.0   92.0
2012-10-03 16:00:00  133.0  182.0
2012-10-03 17:00:00  192.0  391.0
2012-10-03 18:00:00  122.0  258.0
2012-10-03 19:00:00   59.0   69.0
2012-10-03 20:00:00   29.0   51.0
2012-10-03 21:00:00   25.0   38.0
2012-10-03 22:00:00   24.0   25.0
2012-10-03 23:00:00    5.0   12.0
2012-10-04 00:00:00    7.0   11.0
2012-10-04 01:00:00    3.0    0.0
2012-10-04 02:00:00    3.0    6.0
2012-10-04 03:00:00    0.0    3.0
2012-10-04 04:00:00    7.0    1.0
2012-10-04 05:00:00   15.0   11.0
...                    ...    ...
2017-03-30 18:00:00  104.0  213.0
2017-03-30 19:00:00   50.0  125.0
2017-03-30 20:00:00   25.0   58.0
2017-03-30 21:00:00   15.0   21.0
2017-03-30 22:00:00   10.0   20.0
2017-03-30 23:00:00   11.0    5.0
2017-03-31 00:00:00    2.0    4.0
2017-03-31 01:00:00    2.0    0.0
2017-03-31 02:00:00    1.0    0.0
2017-03-31 03:00:00    1.0    0.0
2017-03-31 04:00:00    3.0    3.0
2017-03-31 05:00:00   23.0   14.0
2017-03-31 06:00:00   57.0   49.0
2017-03-31 07:00:00  163.0   99.0
2017-03-31 08:00:00  250.0  162.0
2017-03-31 09:00:00   90.0   70.0
2017-03-31 10:00:00   52.0   38.0
2017-03-31 11:00:00   39.0   31.0
2017-03-31 12:00:00   37.0   37.0
2017-03-31 13:00:00   52.0   34.0
2017-03-31 14:00:00   45.0   55.0
2017-03-31 15:00:00   74.0   87.0
2017-03-31 16:00:00   83.0  223.0
2017-03-31 17:00:00  145.0  333.0
2017-03-31 18:00:00  117.0  206.0
2017-03-31 19:00:00   50.0   84.0
2017-03-31 20:00:00   26.0   36.0
2017-03-31 21:00:00   16.0   40.0
2017-03-31 22:00:00   12.0   22.0
2017-03-31 23:00:00    5.0   15.0

[39384 rows x 2 columns]

In [49]:
data['total'] = data['West'] + data['East']

In [50]:
data

                      West   East  total
Date
2012-10-03 00:00:00    4.0    9.0   13.0
2012-10-03 01:00:00    4.0    6.0   10.0
2012-10-03 02:00:00    1.0    1.0    2.0
2012-10-03 03:00:00    2.0    3.0    5.0
2012-10-03 04:00:00    6.0    1.0    7.0
2012-10-03 05:00:00   21.0   10.0   31.0
2012-10-03 06:00:00  105.0   50.0  155.0
2012-10-03 07:00:00  257.0   95.0  352.0
2012-10-03 08:00:00  291.0  146.0  437.0
2012-10-03 09:00:00  172.0  104.0  276.0
2012-10-03 10:00:00   72.0   46.0  118.0
2012-10-03 11:00:00   10.0   32.0   42.0
2012-10-03 12:00:00   35.0   41.0   76.0
2012-10-03 13:00:00   42.0   48.0   90.0
2012-10-03 14:00:00   77.0   51.0  128.0
2012-10-03 15:00:00   72.0   92.0  164.0
2012-10-03 16:00:00  133.0  182.0  315.0
2012-10-03 17:00:00  192.0  391.0  583.0
2012-10-03 18:00:00  122.0  258.0  380.0
2012-10-03 19:00:00   59.0   69.0  128.0
2012-10-03 20:00:00   29.0   51.0   80.0
2012-10-03 21:00:00   25.0   38.0   63.0
2012-10-03 22:00:00   24.0   25.0   49.0
2012-10-03 23:00:00    5.0   12.0   17.0
2012-10-04 00:00:00    7.0   11.0   18.0
2012-10-04 01:00:00    3.0    0.0    3.0
2012-10-04 02:00:00    3.0    6.0    9.0
2012-10-04 03:00:00    0.0    3.0    3.0
2012-10-04 04:00:00    7.0    1.0    8.0
2012-10-04 05:00:00   15.0   11.0   26.0
...                    ...    ...    ...
2017-03-30 18:00:00  104.0  213.0  317.0
2017-03-30 19:00:00   50.0  125.0  175.0
2017-03-30 20:00:00   25.0   58.0   83.0
2017-03-30 21:00:00   15.0   21.0   36.0
2017-03-30 22:00:00   10.0   20.0   30.0
2017-03-30 23:00:00   11.0    5.0   16.0
2017-03-31 00:00:00    2.0    4.0    6.0
2017-03-31 01:00:00    2.0    0.0    2.0
2017-03-31 02:00:00    1.0    0.0    1.0
2017-03-31 03:00:00    1.0    0.0    1.0
2017-03-31 04:00:00    3.0    3.0    6.0
2017-03-31 05:00:00   23.0   14.0   37.0
2017-03-31 06:00:00   57.0   49.0  106.0
2017-03-31 07:00:00  163.0   99.0  262.0
2017-03-31 08:00:00  250.0  162.0  412.0
2017-03-31 09:00:00   90.0   70.0  160.0
2017-03-31 10:00:00   52.0   38.0   90.0
2017-03-31 11:00:00   39.0   31.0   70.0
2017-03-31 12:00:00   37.0   37.0   74.0
2017-03-31 13:00:00   52.0   34.0   86.0
2017-03-31 14:00:00   45.0   55.0  100.0
2017-03-31 15:00:00   74.0   87.0  161.0
2017-03-31 16:00:00   83.0  223.0  306.0
2017-03-31 17:00:00  145.0  333.0  478.0
2017-03-31 18:00:00  117.0  206.0  323.0
2017-03-31 19:00:00   50.0   84.0  134.0
2017-03-31 20:00:00   26.0   36.0   62.0
2017-03-31 21:00:00   16.0   40.0   56.0
2017-03-31 22:00:00   12.0   22.0   34.0
2017-03-31 23:00:00    5.0   15.0   20.0

[39384 rows x 3 columns]